.questions{
    padding:25px 25px 10px 25px;
}
.title-quest{
    margin-bottom: 8px;
}
.quest-card{
  background-color:   #343a40;
  color:white;
  height: 50px;
}
.title{
    font-size: 18px;
    font-family: inherit;
    position: absolute;
}
.select-opt{
    height:35px;
}
.mat-card{
    border-radius: 0px;
}

.button{
    text-align: center;
    margin-bottom: 30px !important;
}
.mat-raised-button{
    background-color: #343a40;
    color: white;
    width: 175px;
    font-size: large;    
    margin-right: 5px;
}
.custom-card{
    width:50%;
    margin:0px 30px 15px 40px;
}